.root {
  cursor: pointer;

  position: relative;

  width: 24px;
  height: 24px;

  background-color: var(--color-dark-300);
  border-radius: 4px;

  &:hover {
    background-color: var(--color-dark-100);
  }
}

.editButton {
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 5px;
}
