.root {
  position: relative;

  width: 24px;
  height: 24px;

  background-color: var(--color-dark-100);
  border-radius: 4px;
}

.editButton {
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 5px;

  &:hover {
    fill: var(--color-accent-500);
  }
}

