/* reset */

button {
  all: unset;
}

.userLogo {
  width: 36px;
  height: 36px;
  background:
    url('./UserLogo.png'),
    lightgray 50% / cover no-repeat;
  border-radius: 36px;
}

.DropdownMenuRoot {
  display: flex;
  justify-content: flex-end;
}

.DropdownMenuContent {
  padding: 12px;
  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;
}

.itemWithIcon {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid var(--color-dark-500);

  p {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.itemWithIcon:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.svgWhite {
  margin-right: 6px;
  fill: var(--color-light-100);
}

.DropdownMenuItem {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-dark-500);

  div {
    display: flex;
    flex-direction: column;
    padding-left: 8px;

    p {
      margin: 0;
    }
  }
}

.DropdownMenuArrow {
  position: relative;

  fill: var(--color-dark-700);
  stroke: var(--color-dark-500);
  stroke-linecap: butt;
  stroke-width: 1px;
}
