button {
  all: unset;
}

.DropdownMenuContent {
  z-index: 100;


  padding: 12px;

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;
}

.DropdownMenuArrow {
  position: relative;

  fill: var(--color-dark-700);
  stroke: var(--color-dark-500);
  stroke-linecap: butt;
  stroke-width: 1px;
}

.DropdownMenuTwoArrow {
  position: relative;
  z-index: 1;
  top: -1px;
  left: 0;

  fill: var(--color-dark-700);
  stroke-linecap: butt;
  stroke-width: 1px;
}
