.card {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 100%;
  max-width: 420px;
  height: 100%;
  max-height: 540px;
  margin: 90px auto 0;
  padding: 36px;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-300);
    border-radius: 3px;

    &:hover {
      background-color: var(--color-dark-100);
    }
  }

  @media screen and (width <= 576px) {
    max-height:max-content;

  }
}

