.buttonGroup {
  display: flex;
  justify-content: space-between;
  height: 2.25rem;
  margin-top: 2.3rem;
}

.buttonSingle {
  display: flex;
  justify-content: flex-end;
  height: 2.25rem;
  margin-top: 1.3rem;
}
