.pagination {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;

  @media screen and (width <= 576px) {
   flex-direction: column;
    gap: 1rem;
  }
}

.packsPage {
  margin-top: 6.25rem;
}

.setting {
  margin-bottom: 1.875rem;
}

.addCard {
  display: flex;
  justify-content: space-between;

}

.title{
  @media screen and (width <= 576px) {
    font-size: var(--font-size-xl);
  }
}
