.pagination {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.packsPage {
  margin-top: 6.25rem;
}

.table {
  margin-bottom: 1.5rem;
}

.setting {
  margin-bottom: 1.875rem;
}

.addCard {
  display: flex;
  justify-content: space-between;
}
