.forgotPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.card {
  width: 100%;
  max-width: 420px;
  height: max-content;
  margin: 90px auto 0;
  padding: 10px;
}
