.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 722px;

  & img {
    width: 100%;
    height: 100%;
  }

  .uploadButton {
    width: 100%;
    height: 36px;

    & button {
      width: 100%;
    }

    .imgOnButton {
      position: relative;
      top: -28px;
      left: 195px;
    }
  }
}

.buttonBlock {
  padding: 0 30px;
}