.filter {
  display: flex;
  align-items: flex-end;

  @media screen and (width <= 420px) {
    flex-direction: column;
  }

  @media screen and (width <= 1024px) {
    flex-direction: column;
  }
}

.textField {
  width: 100%;
  max-width: 300px;
  margin-right: auto;

  @media screen and (width <= 1024px) {
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
}

.clearButton {
  width: 100%;
  max-width: 328px;

  > svg {
    fill: var(--color-light-500);
  }

  @media screen and (width <= 768px) {
    align-self: center;
    max-width: 100%;
  }
}

.slider {
  @media screen and (width <= 768px) {
  }
}

.tabSwitcher {
  @media screen and (width <= 1024px) {
    align-self: flex-start;
  }

  @media screen and (width <= 768px) {
    flex-shrink: 1;
    width: 100%;
  }
}

.setting {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: space-between;

  margin-left: 24px;

  @media screen and (width <= 1024px) {
    align-self: stretch;
    margin-top: 1rem;
    margin-left: 0;
  }

  @media screen and (width <= 768px) {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.clearButtonBlock {
  align-self: flex-end;

  @media screen and (width <= 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}
