.filter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.textField {
  flex: 0 1 18.75rem;
}

.clearButton {
  > svg {
    fill: var(--color-light-500);
  }
}
