.card {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 420px;
  height: 420px;
  margin: 0 auto;
  padding: 33px 36px;
}

.backButton {
  margin-top: 100px;
}

.textField {
  width: 100%;
}
