.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 420px;
  height: 348px;
  margin: 0 auto;
}

.avatarBlock {
  position: relative;

  .fileUploader {
    position: absolute;
    top: 75px;
    left: 75px;
  }
}

.nameBlock {
  display: flex;
  gap: 15px;
  align-items: center;

  svg:hover {
    cursor: pointer;
  }
}

.email {
  color: var(--color-dark-100);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 96px;
  height: 96px;

  border-radius: 50%;

  > span {
    width: 96px;
    height: 96px;
  }
}

.backButton {
  margin-top: 100px;
}
.editButton {
  all: unset;

  cursor: pointer;

  position: relative;

  width: 24px;
  height: 24px;

  background-color: var(--color-dark-300);
  border-radius: 4px;

  &:hover {
    background-color: var(--color-dark-100);
    box-shadow: none;
  }

  > svg {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
