.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .uploadButton {
    width: 100%;
    height: 36px;

    & button {
      width: 100%;
    }

    .imgOnButton {
      position: relative;
      top: -28px;
      left: 195px;
    }
  }
}

.buttonBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}