.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 686px;

  & img {
    width: 100%;
    height: 100%;
  }

  .uploadButton {
    height: 36px;

    > button {
      height: 36px;
    }

    .imgOnButton {
      position: relative;
      top: -29px;
      left: 195px;
    }
  }
}