.pagination {
  padding-bottom: 36px;
}

.noItems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.dropDown {
  margin-right: auto;
  margin-left: 1rem;
}

.cardsPage {
  margin-top: 100px;
  padding-bottom: 20px;

  .section {
    margin-top: 34px;

    .sectionHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 24px;
    }

    .packsImg {
      height: 100px;
      margin: 15px 0 24px;
    }
  }

  .table {
    margin: 24px 0;

    .questionCell {
      width: 365px;
      height: 70.05px;

      .questionImg {
        max-width: 70px;
        height: 50px;
        object-fit: cover;
        border-radius: 3px;
      }

      .question {
        position: relative;
        top: 0;
      }

      .questionWithImg {
        position: relative;
        top: -20px;
      }
    }
  }

  .editButtons {
    display: flex;
    justify-content: space-around;
  }

  .answerCell {
    width: 365px;
    height: 70.05px;

    .answerImg {
      max-width: 70px;
      height: 50px;
      object-fit: cover;
      border-radius: 3px;
    }

    .answer {
      position: relative;
      top: 0;
    }

    .answerWithImg {
      position: relative;
      top: -20px;
    }
  }

  .dateCell {
    width: 140px;
  }

  .rateCell {
    width: 170px;
  }
}
