.container {
  width: 100%;
  max-width: 1140px;
  max-height: calc(100dvh - 1px);
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.wrapper {
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-300);
    border-radius: 3px;

    &:hover {
      background-color: var(--color-dark-100);
    }
  }
}
