.noItems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.table {
  margin-bottom: 1.5rem;

  @media screen and (width <= 768px) {
    width: 100%;
    border: none;

    :hover {
      background: none;
    }
  }
}
