.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;

  .uploadButton {
    height: 36px;
  }
}

.deleteCover {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  @media screen and (width <= 576px) {
  flex-direction: column;
  }
}

.image {
  aspect-ratio: 2/1;


  width: 100%;


  object-fit: cover;
  border-radius: 4px;

  transition: 0.3s;

  &.hover {
    cursor: pointer;
  }

  &.open {
    aspect-ratio: 1/1;
  }
}

.deleteImage{
  transition: 0.2s;

  &:hover{
    background: var(--color-danger-700);
  }
}

.formCard{
  margin-top: 2rem;
}