.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & img {
    width: 540px;
    height: 180px;
  }

  .uploadButton {
    height: 36px;

    .imgOnButton {
      position: relative;
      top: -29px;
      left: 195px;
    }
  }
}