.notfound {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  margin-top: 200px;
}

.icon{
  width: 100%;
  max-width: 28rem;
  height: 100%;
  max-height: 192px;

  fill: black;

  //max-width: 450px;
  //height: 200px;
}